@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');
@keyframes startAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

* {
    font-family: 'Roboto';
}

body {
    background: rgb(22, 22, 22);
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    animation: startAnimation ease-in 0.8s;
}

.bar {
    background-color: #272727;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.gamewindow {
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    display: none;
    background: none;
}

.page {
    background-color: #272727;
    height: 200px;
    width: 600px;
    top: 0;
    left: 0;
    right: 0;
}

.bottom {
    background-color: #272727;
    margin-top: auto;
    height: 50px;
}

.gamebutton {
    margin-top: 1%;
    font-size: large;
}

.text {
    color: #FFF;
    font-size: 25px;
    margin-top: 1%;
}

.textbottom {
    color: #FFF;
    font-size: 15px;
    margin-top: 0.5%;
    margin-right: 1%;
}

.linkbottom {
    color: rgb(116, 192, 255);
    font-size: 14px;
    margin-top: 0.5%;
    margin-right: 0.2%;
}

.quick {
    font-size: medium;
}

.setting {
    color: white;
    display: none;
    font-size: 14px;
    position: fixed;
    top: 20px;
}

.title_settings {
    font-size: 20px;
    right: 105px;
    margin-top: 3%;
}

.settitle {
    font-size: 18px;
    right: 100px;
    margin-top: 4%;
}

.main_title {
    font-size: 35px;
    padding: 8px;
    padding-left: 8px;
    color: rgba(255, 255, 255, 0.842);
}

.button {
    color: white;
    font-size: 16px;
    position: fixed;
    top: 20px;
    transition-duration: 0.4s;
}

.button:hover {
    color: grey;
}

.games {
    right: 30px;
}

.ytlink {
    right: 100px;
    cursor: pointer;
}

.closegame {
    right: 30px;
    cursor: pointer;
    display: none;
}

.fullscreengame {
    right: 130px;
    cursor: pointer;
    display: none;
}

.ytlink:hover {
    color: grey;
}

.tabconfig {
    cursor: pointer;
    right: 180px;
}

.tabconfig:hover {
    color: grey;
}

.updates_btn {
    cursor: pointer;
    right: 270px;
}

.updates_btn:hover {
    color: grey;
}

a:hover {
    color: grey;
}

a {
    color: white;
    transition-duration: 0.4s;
    text-decoration: none;
}

.title {
    font-size: 90px;
    margin-top: 13%;
    text-align: center;
    color: rgba(255, 255, 255, 0.842);
}

.games_title {
    font-size: 90px;
    margin-top: 5%;
    text-align: center;
    color: rgba(255, 255, 255, 0.842);
}

form input {
    background: none;
    padding: 0px 20px;
    height: 50px;
    color: var(--text-color);
    outline: none;
    width: 400px;
    margin-top: 10px;
    border-radius: 50px;
    color: #FFF;
    border: 5px solid  rgba(255, 255, 255, 0.363);
    transition-duration: 1s;
}

form input:focus {
    border-color: rgba(255, 255, 255, 0.712);
}

.settings {
    background-color: #272727;
    height: 50px;
    position: fixed;
    right: 100px;
    width: 350px;
    height: 200px;
    display: none;
}

.updates {
    background-color: #272727;
    height: 50px;
    position: fixed;
    right: 455px;
    width: 350px;
    height: 200px;
    display: none;
}  

.updatetitle {
    color: #FFF;
    text-align: center;
}

.updatespage {
    margin-top: 2%;
    color: #FFF;
}

.message {
    margin-top: 2%;
    color: #FFF;
}

.settingsstuff {
    color: #FFF;
}

.closesettings_button {
    position: fixed;
    top: 0%;
    right: 50px;
    color: rgb(255, 32, 32);
}

.title_main {
    text-align: center;
    margin-top: 1%;
}

.setTitle {
    color: #FFF;
    background: none;
    border: 5px solid  rgba(255, 255, 255, 0.363);
    margin-top: 1%;
}

.setIco {
    color: #FFF;
    margin-top: 1%;
    background: none;
    border: 5px solid  rgba(255, 255, 255, 0.363);
}

.resetButton {
    width: 20%;
    font-size: large;
    height: 20%;
    border: 3px solid rgba(255, 255, 255, 0.842);
    border-radius: 5px;
    background: #FFF;
    margin-top: 5%;
    cursor: pointer;
    color: rgb(0, 0, 0);
}

.quicktext {
    margin-top: 2%;
    color: white;
    display: none;
    cursor: none;
}

.games {
    color: #FFF;
}